<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>


    <link href="~/lib/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/SiteStyle.css" />

</head>
<body>
    <header>
        <div class="header">
            <a href="#" class="pull-left headerIcon"><i class="fa fa-search"></i></a>
            <a href="#" class="pull-left headerIcon" onclick='ShowLogin()'><i class="fa fa-user-circle"></i></a>
            <a href="#" class="pull-left headerIcon"><i class="far fa-envelope"></i></a>
            <a href="#" class="pull-left headerIcon"><i class="fa fa-bell"></i></a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modalH">
                    ورود به سایت
                    <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="bodymodal" class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jQuery/jquery-1.10.2.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap-rtl.min.js"></script>

    <script>
        function ShowLogin() {
            $.ajax({
                url: "/Account/Login/",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalHeader').html('  ');
                $('#bodymodal').html(result);
            });
        }
    </script>

</body>
</html>
