<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soft98</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/SiteStyle.css" />
</head>
<body>
    <header>
        <div class="header">
            <a href="#" class="pull-left HeaderIcon"><i class="fa fa-search"></i></a>
            <a href="#" class="pull-left HeaderIcon" onclick='ShowLogin()'><i class="fa fa-user-circle"></i></a>
            <a href="#" class="pull-left HeaderIcon"><i class="fa fa-envelope"></i></a>
            <a href="#" class="pull-left HeaderIcon"><i class="fa fa-bell"></i></a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modalH">
                    ورود به سایت
                    <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="bodymodal" class="modal-body">

                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function ShowLogin() {
            $.ajax({
                url: "/Account/Login/",
                type: "Get",
                data: {}
            }).done(function (result) {
                $("#myModal").removeClass("fade");
                $('#myModal').modal('show');
                $('#myModalHeader').html('');
                $('#bodymodal').html(result);
            });
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
