@model Soft98.Core.ViewModels.LoginViewModel

@{
    Layout = null;
}

    <div class="row">
        @*<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">*@
        <div class="" style="width: 70%; margin-right: auto; margin-left: auto;">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" style="width: 97%;" />
                    <span asp-validation-for="Mobile" class="text-danger "></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" style="width: 97%;" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ورود به سایت" class="btn btn-block btn-green" style="font-family: 'B Yekan';" />
                </div>
                <a href="/Account/Forget/" class="pull-left textlogin">رمزم را فراموش کردم</a>
                <a asp-action="Register" asp-controller="Account" class="pull-right textlogin">عضویت در سافت 98</a>
                <br />
            </form>
        </div>
    </div>
