@model Soft98.Core.ViewModels.RegisterViewModel

@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

    int? mystatus = ViewBag.Myst;

    if (mystatus == 1)
    {
        <script>
            window.onload = function () {
                ShowLogin();
            }
        </script>
    }
    else if (mystatus == 2)
    {
        <script>
            window.onload = function () {
                ShowActive();
            }
        </script>
    }
}

@inject IOptions<RecaptchaSettings> RecaptchaSettings

<div class="mainpage">
    <div class="logo pull-right "><img src="~/Images/logo.png" /></div><br />
    <div class="register col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="registerInner">
            <i class="pull-right fas fa-pause pause"></i><div class="textregister">عضویت</div>
            <hr class="line" />

            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group registerStyle">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                </div>
                <span asp-validation-for="Mobile" class="text-danger"></span>

                <div class="form-group registerStyle">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-group registerStyle">
                    <label asp-for="Repassword" class="control-label"></label>
                    <input asp-for="Repassword" class="form-control" />
                </div>
                <span asp-validation-for="Repassword" class="text-danger"></span>

                <div class="captchaStyle">
                    @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings.Value))
                </div>
                <div class="form-group registerStyle">
                    <input type="submit" value="ارسال اطلاعات" class="btn btn-block btn-green" />
                </div>
            </form>

        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modalH">
                <h4 class="modal-title">@ViewBag.ModalTitle</h4>
                <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="bodymodal" class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    function ShowActive() {
        $.ajax({
            url: "/Account/Active/",
            type: "Get",
            data: {}
        }).done(function (result) {
            $('#myModal').modal('show');
            $('#myModalHeader').html('');
            $('#bodymodal').html(result);
        });
    }

    function ShowLogin() {
        $.ajax({
            url: "/Account/Login/",
            type: "Get",
            data: {}
        }).done(function (result) {
            $('#myModal').modal('show');
            $('#myModalHeader').html('');
            $('#bodymodal').html(result);
        });
    }
</script>